h2
  font-size: 24px
  text-transform: uppercase
  font-weight: bold
  margin-top: 25px
  margin-bottom: 15px

p
  margin-top: 10px
  margin-bottom: 15px
  line-height: 1.5

ul
  list-style-type: disc

li
  line-height: 2
  margin-left: 30px
