h2
  font-size: 24px
  text-transform: uppercase
  font-weight: bold
  letter-spacing: .5px
  margin-top: 50px
  margin-bottom: 15px
  color:#293135

h3
  font-size: 18px
  font-weight: bold

p
  font-size: 17px
  margin-top: 10px
  margin-bottom: 15px
  line-height: 1.5
  color: #232b2f
  letter-spacing: .1px
ul
  list-style-type: disc

li
  line-height: 2
  margin-left: 30px

strong
  font-weight: bold

em
  font-style: italic