@use "./variables" as *
@use "./mixins" as *

.home
  position: relative
  // height: 100%
  // transform-style: preserve-3d
  // z-index: -1


// HERO **********************************
.hero__fade
  background: rgb(255,255,255)
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
  position: absolute
  left: 0
  top: 0
  right: 0
  height: 100px

.home__hero
  background: lightblue
  background: url('/img/sky.png')
  background-size: cover
  background-position-y: bottom
  // transform: translateZ(-10px) scale(2)
  // position: absolute
  // height: 100%
  // width: 100%
  // object-fit: cover
  // z-index: -1
  
  

.home__hero-container
  @include page-row-container
  display: flex
  width: 100%
  padding-top: 66px
  padding-bottom: 40px
      overflow: hidden

.home__tagline
  font-family: 'Darumadrop One', sans-serif
  font-size: 110px
  line-height: .8
  margin-bottom: 80px
  margin-left: 25px
  color: $primary

.home__sub-tagline
  font-family: 'open sans', sans-serif
  font-size: 13px
  letter-spacing: 6px
  margin-bottom: 15px
  margin-top: 0px
  color: #52707e
  opacity: .5
  text-transform: uppercase
  font-weight: 1000
  margin-left: 29px
  

.home__hero-left
  width: 50%

.home__hero-right
  width: 50%
  display: flex
  justify-content: center
  align-items: center
  position: relative

.home__eagle
  position: absolute
  left: 275px
  top: -35px
  opacity: .3
  scale: .7

.home_kids
  margin-right: -89px



// SUPPORT **********************************



.home__sup_container
  @include page-row-container
  flex-direction: column
  padding: 30px
  background: #ffffff



.home__sup_heading
  display: grid
  color: $primary
  margin-top: 50px 
  margin-bottom: 0px
  font-size: 36px
  font-family: 'Darumadrop One', sans-serif
  letter-spacing: .5px
  text-align: center

.home__sup_heading img
  margin-top: 10px
  margin-left: 70px
  scale: .8

.home__sup_heading_items
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  

.home__sup_grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(1, 1fr)
  gap: 20px
  justify-content: center
  align-content: center
  margin: auto
  margin-bottom: 80px
  margin-top: 0px
  width: 100%
 

.home__sup_grid_item
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  
.home__sup_grid_item img
  height: 220px
  width: 120px
  margin-bottom: -32px

.home__sup_grid_item
  color: $primary
  font-family: 'Darumadrop One', sans-serif
  text-decoration: none
  font-size: 22px
  font-weight: 800
  letter-spacing: 0px
  

  

// DONATE **********************************

.home__donate
  background: $primary

.home__don_container
  @include page-row-container
  padding: 40px 50px
  


.home__don_text
  font-family: 'Darumadrop One', sans-serif
  font-size: 36px
  letter-spacing: 1px
  color: white

.home__don_btn .btn
  cursor: pointer


// COMMON (move out) ****************
.btn
  background: $secondary
  padding: 12px 36px
  border: none
  color: white
  font-size: 17px
  font-weight: 700
  border-radius: 25px
  *border-bottom: 5px solid #b36338
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.054), 0 6px 5px 0 rgba(0, 0, 0, 0.064)
  text-decoration: none
  margin-left: 30px
  letter-spacing: .9px

.btn-alt
  background: white
  color: $secondary
  border-bottom: 5px solid #cacaca


@media (max-width: 1000px)
  .home__tagline
    font-size: 85px
    margin-top: 10px
    margin-bottom: 60px

  .home__eagle
    position: absolute
    left: 245px
    top: -30px
    
  
  .btn    
    margin-left: 30px 


    

@media (max-width: 900px)
  .home__hero-container
    flex-direction: column
    padding-top: 10px
  
    overflow: hidden
   
   
  .home__hero
    background: #e9f4fc
    background: linear-gradient(180deg, #f5fafd 0%, #c1d5de 100%)

  .hero__fade
    height: 0px

  .home__hero-left 
    width: 100%
    text-align: center
  
  .home__hero-right 
    width: 108%
    height: 220px
    text-align: bottom
    margin-top: 85px
    padding-top: 70px

  .home__tagline
    font-size: 80px
    margin-left: 10px
    margin-top: -20px
    
  .home__sub-tagline
    opacity: 0 

  .home__eagle
    position: absolute
    left: 54%
    top: -84px
    opacity: .15
  
  .home__sup_container 
    padding-bottom: 20px

  .home__sup_heading
    margin-top: 60px
    margin-bottom: 30px
    text-align: center

  .btn    
    margin-left: 0px 
  
  .home__sup_grid
    // background: yellow
    gap: 20px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    // grid-template-columns: repeat(1, 1fr)
    // grid-template-rows: repeat(4, 1fr)

  .home__sup_grid_item
    margin: 0
    

  .home__sup_grid_item img
    // width: 160px 
    // height: 160px
 

  .home__don_container
    flex-direction: column
    align-items: center
    text-align: center
    padding: 40px, 50px
    * 
      margin: 10px
  .home__don_text
    margin-bottom: 20px
    

  .foot__container
    flex-direction: column
    padding: 30px, 80px
    
  .foot__support_lists
    flex-direction: column

  .foot__support
    width: 100%
    padding: 0 0 0px 0

    h2
      text-align: center
      margin-bottom: 20px

  .foot__support_lists
    padding-bottom: 20px
    ul:nth-child(2)
      margin-left: 0

  .foot__right_lists
    width: 100%

@media (max-width: 500px)
  .home__tagline
    margin-top: -50px
    
    


@media (max-width: 400px)
  .home__tagline
    font-size: 65px
  