.nav
  background: #052739
  color: white

.nav__container
  width: 100%
  max-width: 1040px
  margin: auto
  display: flex
  justify-content: space-between
  // padding: 20px 0

.nav__links
  display: flex

.nav__sub-links
  background: black
  padding: 20px
  display: none
  z-index: 1

  a
    color: lightblue

.nav__link
  padding: 60px 10px
  color: white
  text-decoration: none
  position: relative

  &:hover
    .nav__sub-links
      display: block
      position: absolute
      top: 100px

.nav__sub-link
  padding: 20px
