.sub_header
  width: 100%

  background: #0f364b
  color: white
  text-shadow: 0px 1px 0px #38383a55
  font-size: 50px
  letter-spacing: .4px
  
  line-height: 1.2
  text-align: center
  border-radius: 25px
  overflow: hidden
  background-position: center
  

.sub_header_overlay
  background: rgba(28, 33, 39, 0.836)
  padding-top: 170px
  padding-bottom: 170px
  padding-left: 20px
  padding-right: 20px


  
@media (max-width: 500px)
  .sub_header_overlay
    padding-top: 110px
    padding-bottom: 110px  